<div class="list">
	<mat-list *ngFor="let memo of memos; let i = index; ">
		<div class="left">
	  	<mat-list-item>{{memo.text}}</mat-list-item>
		</div>
	  <div class="right">
	  	<button mat-icon-button color="primary" (click)="deleteMemo(i)">
	  		<mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
	  	</button>
	  </div>
	</mat-list>
</div>

<div class="add">
	<mat-form-field>
	  <input #newMemo matInput placeholder="Memo"
	  	(keyup.enter)="addMemo(newMemo.value); newMemo.value='' ">
	</mat-form-field>
	<h1>{{memo}}</h1>
	<div class="button">
		<button mat-icon-button color="primary" (click)="addMemo(newMemo.value); newMemo.value='' ">
	    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
	  </button>
	</div>
</div>

