/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
 
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%
}

.mat-tab-body {
	margin: 8px;
	padding: 8px;
}

.mat-tab-body-wrapper {
	width: 100%;
  max-width: 500px;
	margin: 0 auto;
	padding: 8px;
}

.mat-tab-labels {
	width: 40%;
	min-width: 360px;
	margin: 0 auto;
}

.mat-tab-label {
	width: 100%!important;
}

.mat-list {
  display: flex!important;
}

.mat-list-item-content {
	padding: 0!important;
}

@media (max-width: 600px) {
	.mat-tab-labels {
		width: 100%;
	}
}